/* Show it is fixed to the top */
body {
  min-height: 100%;
}

a { color: inherit; }

.bg-light {
  background-color: #FFBC73 !important;
}

.fixed-bottom {
  -webkit-backface-visibility: hidden;
}

.fixed-top {
  -webkit-backface-visibility: hidden;
}

.canvas-chart {
  position: relative;
  height:40vh;
  width:100vw;
  text-align: center;
}

.chart-container {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.dashboard-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.events-container {
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}

.settings-container {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

#save-btn {
  margin-bottom: 4rem;
}

.last-updated {
  margin-top: 2rem;
  z-index: 999;
  background-color: #FFFFFF;
}

.loading {
  text-shadow: 1px 1px 2px black, 0 0 25px #66BD66, 0 0 5px #45A545;
}

#page-name {
  color: #A65600;
}

.text-selected {
  color: #FFBC73;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-collapse{
  text-align: left;
}

button:focus {
outline: none;
}

.bottom-bar {
  color: #15750D;
  text-decoration: none !important;
}

.bottom-icon-combined {
  display: inline-block;
}

.bottom-icon {
  display:block;
}

.dropdown-menu {
  width: 95%;
  background-color: #FFFFFF;
  color: #000000;
  border-color: #3CB371;
}
/*
 #dropdownMenuButton_sensor{
 width: 100%;
 background-color: #FFFFFF;
 color: #000000;
 border-color: #3CB371;
}

#dropdownMenuButton_duration{
 width: 100%;
 background-color: #FFFFFF;
 color: #000000;
 border-color: #3CB371;
} */

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
           background-color:#e6ffe6;
}



.form-label > input {
  display: inline-block;
  border: none;
  text-align: left;
  width: 150px;
}

.state > label {
  display: inline-block;
  width: 50px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  background-color: #1380FC !important;
}
